*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.nav{
    margin-top: 20px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
}

.resume{
    border: 2px solid lightgray;
    padding: 10px 30px;
    border-radius: 10px;
}